
.message-container{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
}

.message-txt-container{
    height: 300px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.message-txt-container li{
    list-style: none;
    text-decoration: none;
    list-style-type: none;
}

.message-txt-container::-webkit-scrollbar { 
    background: transparent; 
    display: none;
}

.message-txt-container::-webkit-scrollbar-thumb { 
    background-color: #FFFFFF; 
    -webkit-border-radius: 1ex; 
}

.message-txt-container h5{
    font-size: 12px;
    margin: 0;
}

.message-entry{
    height: 30px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.message-entry input{
    height: 30px;
    border-radius: 15px;
    border: 2px solid #000000;
    color: #000000;
    padding-left: 8px;
    position: absolute;
    width: 252px;
    padding-right: 40px;
}

.message-entry img{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
}

.message-icon-container{
    justify-content: right;
    display: flex;
}

.message-icon{
    height: 50px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.message-toggle{
    transition: 0.3s ease-in-out;
}