.profile{
    width: 100%;
    height: 100%;
}

.profile-content{
    margin-top: 4vh;
    width: 100%;
    height: 78vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

@media(max-width: 900px){
    .profile{
        height: auto;
        margin-top: 18vh;
        padding-bottom: 4vh;
    }

    .profile-content{
        flex-direction: column;
        padding-left: 10%;
        width: 80%;
        height: auto;
        gap: 4vh;
    }
}