.active-game{
    grid-area: activeGame;
    display: flex;
    align-items: center;
    margin-left: 10vw;
}

.board{
    width: 40vw;
    margin: auto;
}

@media(max-width: 900px){
    .active-game{
        margin-left: 0;
        margin-bottom: 20%;
    }

    .board{
        width: 80vw;
        margin: auto;
    }
}