html,body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    background: #212121;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar { background: #181818; }
::-webkit-scrollbar-thumb { background-color: #3D3D3D; -webkit-border-radius: 1ex; }

.App{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
}

h1{
    font-size: 36px;
    font-weight: normal;
}

h2{
    font-size: 30px;
    font-weight: normal;
}

h3{
    font-size: 24px;
    font-weight: normal;
}

h4{
    font-size: 20px;
    font-weight: normal;
}

p{
    font-size: 18px;
    font-weight: normal;
}

.modal-content{
    text-align: center;
    align-items: center;
}

.modal-close{
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

.modal-logo{
    width: 8vh;
    height: 8vh;
}

.error-message{
    color: red;
}

.error-hide{
    display: none;
}

.input-text{
    padding-bottom: 5%;
}

.input-text-padding{
    padding-top: 5%;
}

.input-text input{
    width: 55%;
    height: 4.5vh;
    border: 2px solid #000000;
    background: transparent;
    padding-left: 15%;
    color: #3D3D3D;
    
    border-radius: 10px;
}

.input-text input::placeholder {
    color: #3D3D3D;
    opacity: 1;
}
  
.input-text input::-ms-input-placeholder {
    color: #3D3D3D;
}

.input-img{
    position: absolute;
    pointer-events: none;
    height: 2.5vh;
    margin-top: 1.5vh;
    margin-left: 4.5%;
}

.dashboard{
    width: 100%;
    height: 100%;
}

.dashboard-content{
    margin-top: 4%;
    width: 100%;
    height: 74%;
    display: flex;
    flex-direction: row;
}


.active-game{
    grid-area: activeGame;
    display: flex;
    align-items: center;
    margin-left: 10vw;
}

.info-card{
    grid-area: infoCard;
    background-color: hsl(0, 0%, 9%);
    border-radius: 20px;
    height: 100%;
    width: 30vw;
    margin-left: 10vw;
}

.player-selection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'playersOption inviteOption';
    width: 100%;
    height: 20%;
    transition: 0.3s ease-in-out;
}

.board{
    width: 40vw;
    margin: auto;
}

.info-selection{
    background-color: #181818;
    transition: 0.3s ease-in-out;
}

.info-unselection{
    background-color: #3D3D3D;
    transition: 0.3s ease-in-out;
}

.players-option{
    grid-area: playersOption;
    color: #FFFFFF;
    text-align: center;
    border-radius: 20px 0 0 0;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.players-option img{
    height: 40%;
}

.players-option h4{
    padding-top: 2%;
    margin: 0;
    padding-bottom: 0;
}


.invite-option{
    grid-area: inviteOption;
    color: #FFFFFF;
    border-radius: 0 20px 0 0;
    text-align: center;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.invite-option img{
    height: 40%;
}

.invite-option h4{
    padding-top: 2%;
    margin: 0;
    padding-bottom: 0;
}

.search-bar{
    padding-top: 5%;
}

.search-bar input{
    width: 65%;
    margin-left: 10%;
    height: 4.5vh;
    border: 2px solid #FFE769;
    background: transparent;
    padding-left: 15%;
    color: #FFE769;
    
    border-radius: 15px;
}

.search-bar input::placeholder {
    color: #FFE769;
    opacity: 1;
}
  
.search-bar input::-ms-input-placeholder {
    color: #FFE769;
}

.search-img{
    position: absolute;
    pointer-events: none;
    height: 2.5vh;
    margin-top: 1.5vh;
    margin-left: 4.5%;
}

.players-list{
    text-align: left;
    padding-left: 10%;
    max-height: 36vh;
    overflow: auto;
}

.players-list li{
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    
}

.player-line{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 4.5vh;
}

.player-line-scroll{
    width: 95% !important;
}

.player-username{
    font-size: 14px;
    flex: 1;
}

.player-icon{
    height: 2vh;
    flex: 1;
}

.player-request{
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #FFCD05;
    height: 3vh;
    color: #000000;
    flex: 1;
    gap: 5%;
    border-radius: 26px;
    margin-right: 10%;
    cursor: pointer;
}

.request-icon{
    height: 2vh;
}

.request-text{
    font-size: 14px;
}

.game-card{
    background-color: #181818;
    border-radius: 20px;

    height: 100%;
    width: 30vw;
    margin-left: 10vw;
}

.game-info{
    background-color: #3D3D3D;
    border-radius: 20px;
    margin-left: 5%;
    height: 20%;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
}

.game-stats{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 5%;
    justify-content: center;
    gap: 10%;
    
}

.game-info h3{
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.game-row-1{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    text-align: left;
    justify-content: left;
    align-items: center;
    gap: 2%;
    
}

.game-row-2{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    text-align: left;
    justify-content: left;
    align-items: center;
    gap: 5%;
    
}

.game-icon{
    height: 30px;
    color: #FFCD05;
}

.game-pieces-captured{
    height: 15px;
    flex: 1;
}

.game-pieces-captured-hidden{
    visibility: hidden;
}

.game-row-3{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;
    align-items: center;
    gap: 5%;   
}

.player-turn{
    background-color: #FFCD05;
}

.moves-header{
    height: 6%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.moves-header-text{
    font-size: 18px;
    height: 50%;
    padding: 0;
    margin: 0;
    color: #FFE769;
}

.moves-icon{
    padding: 0;
    margin: 0;
    height: 50%;
}

.moves-list{
    text-align: left;
    height: 27vh;
    overflow: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.moves-list li{
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    
}

.moves-line{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 100%;
    height: 4.5vh;
}

.moves-scroll{
    width: 105%;
}

.moves-line h3{
    font-size: 14px;
    flex: 1;
}

.move-number{
    padding-left: 15%;
}

.showNavButton{
    display: unset;
}

.hideNavButton{
    display: none !important;
}

.nav-bars{
    display: none;
}

.nav-close{
    display: none;
}

.message-container{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
}

.message-txt-container{
    height: 300px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.message-txt-container li{
    list-style: none;
    text-decoration: none;
    list-style-type: none;
}

.message-txt-container::-webkit-scrollbar { 
    background: transparent; 
    display: none;
}

.message-txt-container::-webkit-scrollbar-thumb { 
    background-color: #FFFFFF; 
    -webkit-border-radius: 1ex; 
}

.message-txt{
    
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 80%;
    min-height: 30px;
}

.message-txt-container h5{
    font-size: 12px;
    margin: 0;
}

.txt-player{
    text-align: end;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.txt-opponent{
    text-align: start;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.message-error button{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    color: red;
    font-weight: bold;
    text-decoration-line: underline;
}

.message-error{
    color: red;
    padding-top: 0px !important;
}

.message-txt h4{
    font-size: 14px;
    margin-left: 12px;
    margin-right: 12px;
}

.message-player{
    background-color: #FFE769;
    margin-left: 18%;
}

.message-opponent{
    background-color: #CDCDCD;
    margin-left: 2%;
}

.message-entry{
    height: 30px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.message-entry input{
    height: 30px;
    border-radius: 15px;
    border: 2px solid #000000;
    color: #000000;
    padding-left: 8px;
    position: absolute;
    width: 252px;
    padding-right: 40px;
}

.message-entry img{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
}

.search-bar input::placeholder {
    color: #000000;
    opacity: 1;
}
  
.search-bar input::-ms-input-placeholder {
    color: #000000;
}

.message-icon-container{
    justify-content: right;
    display: flex;
}

.message-icon{
    height: 50px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.message-toggle{
    transition: 0.3s ease-in-out;
}

/* This is for phone screens */
@media(max-width: 900px){
    
    html, body{
        position: relative;
        width: 100% !important;
        overflow-x: hidden !important;
        overflow-y: auto;
        top: 0;
    }

    .menu{
        flex-direction: column;
        padding-left: 15%;
        padding-top: 15%;
    }
    
    .nav-links{
        display: unset;
        position: absolute;
        background: #080609;
        height: 100vh;
        width: 200px;
        top: 0;
        margin-top: 0;
        padding-top: 0;
        margin-left: 0;
        padding-left: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .nav-bars{
        height: 32px;
        cursor: pointer;
        display: unset;
    }

    .nav-close{
        height: 32px;
        cursor: pointer;
        display: unset;
    }

    .nav-show{
        right: 0;
    }

    .nav-hide{
        right: -200px;
    }

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10%;
        grid-template-areas: 'welcome' 'leaderboard';
        padding-left: 10%;
        width: 80%;
    }

    .content{
        height: 100%;
        padding-bottom: 20%;
    }

    .medal-list{
        
        grid-template-columns: 0.5fr 0.5fr 1.5fr 1.25fr 1.25fr;
        
    }

    .dashboard{
        height: auto;
    }

    .dashboard-content{
        
        margin-top: 20%;
        height: auto;
        
        flex-direction: column;
    }

    .info-card{
        width: 80%;
        margin-left: 10%;
        height: 60vh;
        margin-bottom: 20%;
    }

    .players-option img{
        height: 30px;
    }

    .invite-option img{
        height: 30px;
    }

    .search-img{
        margin-left: 11.5%;
    }

    .active-game{
        margin-left: 0;
        margin-bottom: 20%;
    }

    .board{
        width: 80vw;
        margin: auto;
    }

    .game-card{
        width: 80%;
        margin-left: 10%;
        height: 67vh;
        margin-bottom: 20%;
    }

    .input-img{
        margin-left: 3%;
    }
}
